.container {
  min-height: 100vh;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulo {
  color: #2c3e50;
  margin-bottom: 40px;
  font-size: 2.5rem;
}

.gridCards {
  display: flex;
  gap: 24px;
  flex-wrap: wrap; /* Faz quebrar a linha se não couber */
  justify-content: center;
  max-width: 1200px;
}
